<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amen</title>

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Web Application Manifest -->
    <link rel="manifest" href="manifest.json">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Amen">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amen">
    <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#2F3BA2">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <!-- Material Design icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


    <!-- Material Design Lite page styles:
    You can choose other color schemes from the CDN, more info here http://www.getmdl.io/customize/index.html
    Format: material.color1-color2.min.css, some examples:
    material.red-teal.min.css
    material.blue-orange.min.css
    material.purple-indigo.min.css
    -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">

    <!-- Your styles -->
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
          
        <div class="mdl-layout--large-screen-only mdl-layout__header-row-right">
            <a href="#" class="mdl-layout__tab" style="float: right;" id='en'>English</a>
            <a href="#" class="mdl-layout__tab" style="float: right;" id='jp'>日本語</a>
            <a href="#" class="mdl-layout__tab" style="float: right;" id='ch'>中文</a>
            
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
          <h3 id='title'>龍族拼圖 - 阿門小幫手</h3>
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
          <a href="#overview" class="mdl-layout__tab is-active" id='main'>主頁面</a>
          <a href="#features" class="mdl-layout__tab" id='references'>參考資料 & 聯絡</a>
        </div>
        

      </header>
      <main class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="overview">
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
              <div class="container">
              <div class="row bg-white equal" >
                  <div class="col-sm-6">
                    
                    <div class="container" id="board" max-width="250"">
                      
                      <div class="row">
                          <div class="col-2" id="slot0"></div>
                          <div class="col-2" id="slot1"></div>
                          <div class="col-2" id="slot2"></div>
                          <div class="col-2" id="slot3"></div>
                          <div class="col-2" id="slot4"></div>
                          <div class="col-2" id="slot5"></div>
                      </div>
                      <div class="row">
                          <div class="col-2" id="slot6"></div>
                          <div class="col-2" id="slot7"></div>
                          <div class="col-2" id="slot8"></div>
                          <div class="col-2" id="slot9"></div>
                          <div class="col-2" id="slot10"></div>
                          <div class="col-2" id="slot11"></div>
                      </div>
                      <div class="row">
                          <div class="col-2" id="slot12"></div>
                          <div class="col-2" id="slot13"></div>
                          <div class="col-2" id="slot14"></div>
                          <div class="col-2" id="slot15"></div>
                          <div class="col-2" id="slot16"></div>
                          <div class="col-2" id="slot17"></div>
                      </div>
                      <div class="row">
                          <div class="col-2" id="slot18"></div>
                          <div class="col-2" id="slot19"></div>
                          <div class="col-2" id="slot20"></div>
                          <div class="col-2" id="slot21"></div>
                          <div class="col-2" id="slot22"></div>
                          <div class="col-2" id="slot23"></div>
                      </div>
                      <div class="row">
                          <div class="col-2" id="slot24"></div>
                          <div class="col-2" id="slot25"></div>
                          <div class="col-2" id="slot26"></div>
                          <div class="col-2" id="slot27"></div>
                          <div class="col-2" id="slot28"></div>
                          <div class="col-2" id="slot29"></div>
                      </div>
            </div>
            </div>
                  
                  
                  
            <div class="col-sm-6">
              </br>
                <form>
                  <div class="container">
                    <div class="row">
                      <div class="col-2">
                        <img src="images/fire.png" width="50">
                      </div>
                      <div class="col-2">
                        <img src="images/water.png" width="50">
                      </div>
                      <div class="col-2">
                        <img src="images/wood.png" width="50">
                      </div>
                      <div class="col-2">
                        <img src="images/light.png" width="50">
                      </div>
                      <div class="col-4">
                        <img src="images/dark.png" width="50">
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                          <input type="tel" name="fire_count" id="fire_count" onfocus="this.value=''" size="5" maxlength="2" pattern="^[0-9]*$">
                        </div>
                        <div class="col-2">
                          <input type="tel" name="water_count" id="water_count" onfocus="this.value=''" size="5" maxlength="2" pattern="^[0-9]*$">
                        </div>
                        <div class="col-2">
                          <input type="tel" name="wood_count" id="wood_count"  onfocus="this.value=''" size="5" maxlength="2" pattern="^[0-9]*$">
                        </div>
                        <div class="col-2">
                          <input type="tel" name="light_count" id="light_count"  onfocus="this.value=''" size="5" maxlength="2" pattern="^[0-9]*$">
                        </div>
                        <div class="col-4">
                          <input type="tel" name="dark_count" id="dark_count"  onfocus="this.value=''" size="5" maxlength="2" pattern="^[0-9]*$">
                        </div>
                      </div>
                    </br>
                    <div class="row">
                      <div class="col-2">
                        <img src="images/health.png" width="50">
                      </div>
                      <div class="col-2">
                        <img src="images/poison.png" width="50">
                      </div>
                      <div class="col-2">
                        <img src="images/sPoison.png" width="50">
                      </div>
                      <div class="col-2">
                        <img src="images/jiama.png" width="50">
                      </div>
                      <div class="col-4">
                        <img src="images/bomb.png" width="50">
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                          <input type="tel" name="health_count" id="health_count" onfocus="this.value=''" size="5" maxlength="2" pattern="^[0-9]*$">
                        </div>
                        <div class="col-2">
                          <input type="tel" name="poison_count" id="poison_count" onfocus="this.value=''" size="5" maxlength="2" pattern="^[0-9]*$">
                        </div>
                        <div class="col-2">
                          <input type="tel" name="sPoison_count" id="sPoison_count" onfocus="this.value=''" size="5" maxlength="2" pattern="^[0-9]*$">
                        </div>
                        <div class="col-2">
                          <input type="tel" name="jiama_count" id="jiama_count" onfocus="this.value=''" size="5" maxlength="2" pattern="^[0-9]*$">
                        </div>
                        <div class="col-4">
                          <input type="tel" name="bomb_count" id="bomb_count" onfocus="this.value=''" size="5" maxlength="2" pattern="^[0-9]*$">
                        </div>
                      </div>
                  </br>
                  </div>
                  <div class="container">
                      <div class="row">
                          <div class="col-6">
                            <input type="submit" class="btn btn-primary" value="開始計算" id="calculate">
                          </div>
                          <div class="col-3">
                            <input type="button" class="btn btn-primary" onclick="drawNext();" value="其他解法" style="float: center;" id="next">
                          </div>
                      </div>
                  </div>

              </br></br></br></br>
                </form>
                <div class="container">
                  <div class="row">
                      <div class="col-4"></div>
                      <div class="col-4">
                        <div class="counter">
                          <p class="counter-count" id="counter">0</p>
                          <p class="view-p" id="view-p">瀏覽人數</p>
                        </div>
                      <div class="col-4"></div>
                  </div></br></br></br></br></br></br></br>
              </div>
          </div>
              </div>
              
              </div>
            </div>
          </section>
        </div>
        <div class="mdl-layout__tab-panel" id="features">
          <section class="section--center mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell mdl-cell--12-col">
              <h5 id="twoColor-h">雙色</h5>
              <img src="images/2-color.png" height="400"></br></br>
              <p style="display:inline" id='twoColor-r'>參考連結:</p>
              <a href="https://twitter.com/pad_senas/status/1138449189736783872">自分用　アメン　2色陣　追加攻撃　配置 - (´せωな` )さん</a> 

              
              <h5 id="threeColor-h">三色</h5>
              <p style="display:inline" id='threeColor-r'>參考連結:</p>
              <a href="https://www.youtube.com/watch?v=EN_84_OdjqI" >パズドラ アメン 三色陣(組み方、配置紹介) - 二アさん</a> 
              <p id="threeColor-p">
                先轉下兩排4 combo， 轉一橫排蓋住，再做剩下2 combo。
              </p>

              <h5 id="multiColor-h">多色</h5>
              <p style="display:inline" id='multiColor-r'>參考連結:</p>
              <a href="https://www.youtube.com/watch?v=Yv5w9u-qlhI">【パズドラ】アメンで10000倍出すパズルのコツはこれだ！！ - ダチョーさん</a> 
              
              <p id="multiColor-p">
                先算出最大combo數，根據結果對應不同轉法。
              </p>
              <ul>
                <li><p style="display:inline" id='7C-p'>7 Combo: </p>5,5,5,3,3,3,3 / 5,5,4,4,3,3,3</li>
                <li><p style="display:inline" id='8C-p'>8 Combo: </p>6,4,4,4,3,3,3 / 6,4,5,3,3,3,3</li>
                <li><p style="display:inline" id='9C-p'>9 Combo: </p>6,6,3,3,3,3,3</li>
                <li><p style="display:inline" id='10C-p'>10 Combo: </p>6,6,6,3,3,3,3</li>
              </ul>
              <h5 id="website-h">其他參考資料</h5>
              <a href="https://github.com/google/web-starter-kit" id='website-r1'>網頁模板</a> </br>
              <a href="https://github.com/AlexChittock/JQuery-Session-Plugin" id='website-r2'>jQuery Session</a></br>
              <a href="https://bootsnipp.com/snippets/5K6WW" id='website-r3'>人氣計數器</a>
              <h5 id="contact-h">聯絡</h5>
              <p id="contact-p1">
                email: joeychang0204@gmail.com </br>
                github: 
              </p>
            </div>
          </section>
        </div>
        
      </main>
    </div>

    <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <!-- endbuild -->
    <!-- Built with love using Web Starter Kit -->
    
    
    <script src="jquery-3.4.1.min.js"></script>
    <script src="jquery.session.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
    <script> resetBoard(); setCount(); solve();</script>
    
   

  </body>
</html>
